<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/citypage.css">
</head>
<body>
    <div class="card">
        <span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png"/></span>
        <div class="title"><p><%=info.name%></p></div>
        <div class="temp"><%= parseInt(info.main.temp - 273)%><sup>&deg;</sup></div>
            <div class="row">
                <div class="col-4">
                    <div class="header">Pressione</div>
                    <div class="value"><%= info.main.pressure%> mbar</div>
                </div>
                <div class="col-4">
                    <div class="header">Umidità</div>
                    <div class="value"><%= info.main.humidity%>%</div>
                </div>
                <div class="col-4">
                    <div class="header">Fire</div>
                    <div class="value">No</div>
                </div>
            </div>  
    </div>
</body>
</html>