<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="homestyle.css">
</head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" aria-label="">
        <div class="container-fluid col-xxl-8 px-4">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/icon.png" alt="WeatherzIcon" width="50" height="50" class="d-inline-block align-text-top m-2">
            Weatherz
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample08">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-primary px-3 mx-lg-3" type="button" href="/login">Scopri il tuo Album</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Registrati</a>
              </li>
            </ul>
          </div>
      </nav>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-12 col-lg-8 col-xl-4">
          <h1 class="display-5 fw-bold lh-1 mb-3">Crea il tuo album meteo adesso.</h1>
          <p class="lead">Grazie a Weatherz riuscirai a creare un tuo album personalizzato di tutte le tue città preferite che potrai consultare per visualizzarne le informazioni meteo in tempo reale.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/login">Accedi ora</a>
            <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/signup">Registrati</a>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-8">
          <img src="/images/albumScreen.png" class="mx-auto img-fluid shadow d-xl-block d-none" alt="album screen" width="700" height="500" loading="lazy">
          <img src="/images/cardScreen.png" class="img-fluid shadow d-block d-xl-none" alt="card screen" loading="lazy">
        </div>
      </div>
    </div>
    <div class="container py-5 px-4 col-xxl-8">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h2 class="display-5 fw-bold">Utilizziamo le migliori API</h2>
          <p class="col-md-8 fs-4">Grazie all' utilizzo delle API di Google Maps e di WeatherAPI riusciamo in pochi millisecondi a restituirti le informazioni meteo.</p>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Motore AJAX</h2>
            <p>Insieme alla tecnologia AJAX riusciamo a farti ottenere tutto quello di cui hai bisogno in modo dinamico e veloce senza ricaricare la pagina del tuo album.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Caricamenti veloci</h2>
            <p>L' utilizzo ampio di web workers fa si che le tue pagine siano caricate in modo rapido così che tu possa visualizzare tutti i valori delle tue città velocemente.</p>
          </div>
        </div>
      </div>
    </div>
    <h1 class="mt-5 display-5 my-2 fw-bold text-center">Esempi di icone meteo:</h1>
    <div class="container marketing py-5 px-4 col-xxl-8">
      <div class="row d-flex text-center align-items-end justify-content-center">
        <div class="col-lg-6 my-3">
          <img src="/images/800/802.png" width="180" height="180" class="img-fluid py-3" alt="card screen" loading="lazy">
          <h2 class="fw-bold">Icona nuvola</h2>
          <p>L'icona con la nuvola viene utilizzata quando il meteo della città che hai inserito nell'album risulta nuvoloso.</p>
        </div>
        <div class="col-lg-6 my-3">
          <img src="/images/600/600n.png" width="180" height="180" class="img-fluid py-3" alt="card screen" loading="lazy">
          <h2 class="fw-bold">Icona notte</h2>
          <p>L'icona con la nuvola viene utilizzata quando il fuso orario della città che hai inserito nell'album risulta un ora notturna.</p>
        </div>
        <div class="col-lg-6 my-3">
          <img src="/images/300/300d.png" width="180" height="180" class="img-fluid py-3" alt="card screen" loading="lazy">
          <h2 class="fw-bold">Icona giorno</h2>
          <p>L'icona con la nuvola viene utilizzata quando il fuso orario della città che hai inserito nell'album risulta un ora diurna.</p>
        </div>
      </div>
    </div>
    <div class="container py-5 px-4 col-xxl-8">
      <footer class="py-3 my-4">
        <p class="text-center text-muted">&copy; 2022 Weatherz, Inc</p>
      </footer>
    </div>
  </body>
  <script src="/js/bootstrap.min.js"></script>
  <script src="popper.min.js"></script>
</html>